:is(body, h1, h2, h3, h4, h5, h6) {
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  font-weight: 200;
  margin: 10px 0;
}
body,
html {
  height: 100%;
  line-height: 1.5;
  font-size: 62.5%;
}
body {
  margin: 0;
}
small {
  font-size: 80%;
}
button,
input {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(images/idea-hero.jpg);
  min-height: 100%;
}
body {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: bolder;
}
.gl-wide {
  letter-spacing: 4px;
}
a {
  color: inherit;
}
.gl-button {
  border: none;
  display: inline-block;
  padding: 0.8rem 1.6em;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.gl-button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.gl-hero-icon-color {
  color: var(--color-white);
}

.gl-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gl-price-list li {
  padding: 8px 1.6em;
  border-bottom: 1px solid #ddd;
}
.gl-price-list li:last-child {
  border-bottom: none;
}
.gl-display-container {
  position: relative;
}
.gl-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.gl-bar {
  width: 100%;
  overflow: hidden;
}
.gl-nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.gl-bar .gl-bar-item {
  padding: 8px 1.6em;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.gl-bar-block .gl-bar-item {
  width: 100%;
  display: block;
  padding: 8px 1.6em;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.gl-block {
  display: block;
  width: 100%;
}
.gl-content {
  margin-left: auto;
  margin-right: auto;
}
.gl-content {
  max-width: 980px;
}
.gl-hide {
  display: none !important;
}
@media (max-width: 600px) {
  .gl-hide-small {
    display: none !important;
  }
}
.gl-bottom,
.gl-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.gl-top {
  top: 0;
}
.gl-bottom {
  bottom: 0;
}
.gl-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.gl-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.gl-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.gl-display-container:hover .gl-display-hover {
  display: block;
}
.gl-display-container:hover span.gl-display-hover {
  display: inline-block;
}
.gl-display-hover {
  display: none;
}
.gl-round {
  border-radius: 0.8rem;
}
.gl-container,
.gl-card-container {
  padding: 0.01em 1.6em;
}
@media (min-width: 900px) {
  .gl-container > * {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.gl-card {
  box-shadow: 0 2px 10px 0 hsl(0, 0%, 0%, 0.12);
}

.gl-work-position,
.gl-recurrence {
  color: var(--color-pink);
}
.gl-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 hsl(0, 0%, 0%, 0.2);
}
.gl-hover-opacity:hover,
.gl-opacity {
  opacity: 0.6;
}
.gl-hover-opacity-off:hover,
.gl-opacity-off {
  opacity: 1;
}
.gl-opacity-min {
  opacity: 0.75;
}
.gl-hover-grayscale:hover {
  filter: grayscale(100%);
}
.gl-grayscale {
  filter: grayscale(75%);
}
.gl-grayscale-min {
  filter: grayscale(50%);
}
.gl-large {
  font-size: 1.8rem;
}
.gl-xlarge {
  font-size: 2.4rem;
}
.gl-xxlarge {
  font-size: 3.6rem;
}
.gl-jumbo,
.gl-jumbo:before {
  font-size: 6.4rem;
}
.gl-jumbo:before {
  color: var(--color-blue);
}
@media (max-width: 600px) {
  .gl-jumbo {
    font-size: 3.6rem;
  }
}
.gl-text-center {
  text-align: center;
}
.gl-border {
  border: 1px solid #ccc;
}
.gl-section {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.gl-margin {
  margin: 1.6em;
}
.gl-margin-top {
  margin-top: 1.6em;
}
.gl-margin-bottom {
  margin-bottom: 1.6em;
}
.gl-margin-left {
  margin-left: 1.6em;
}
.gl-margin-right {
  margin-right: 1.6em;
}
.gl-padding-small {
  padding: 4px 8px;
}
.gl-padding {
  padding: 0.8rem 1.6em;
}
.gl-padding-large {
  padding: 1.2rem 2.4rem;
}
.gl-padding-16 {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
.gl-padding-24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.gl-padding-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.gl-padding-48 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}
.gl-padding-64 {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.gl-left {
  float: left;
}
.gl-right {
  float: right;
}
.gl-flex {
  display: flex;
  justify-content: end;
}

.gl-red {
  color: var(--color-white);
  background-color: var(--color-red);
}
.gl-white {
  color: var(--color-black);
  background-color: var(--color-white);
}
.gl-black {
  color: var(--color-white);
  background-color: var(--color-black);
}
.gl-grey {
  color: var(--color-black);
  background-color: var(--color-dark-pink);
}

.gl-light-grey {
  color: var(--color-black);
  background-color: var(--color-light-blue);
}
.gl-dark-blue {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.gl-text-white {
  color: var(--color-white);
}

/* Grid System */

.gl-grid {
  display: grid;
  gap: 2rem;
}
.gl-grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}
.gl-grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.gl-grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}
.gl-grid-col-span-2 {
  grid-column: span 2;
}

:root {
  --color-blue: hsl(232, 42%, 34%);
  --color-light-blue: hsl(232, 42%, 97%);
  --color-white: hsl(0, 0%, 90%);
  --color-black: hsl(0, 0%, 20%);
  --color-red: hsl(0, 90%, 58%);
  --color-pink: hsl(321, 71%, 76%);
  --color-dark-pink: hsl(320, 71%, 85%);
}
