:is(body, h1, h2, h3, h4, h5, h6) {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
body,
html {
  height: 100%;
  line-height: 1.5;
  font-size: 62.5%;
}
body {
  margin: 0;
}
small {
  font-size: 80%;
}
button,
input {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(images/idea-hero.jpg);
  min-height: 100%;
}
.gl-button {
  padding: 1.6em;
}
body {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
.gl-wide {
  letter-spacing: 4px;
}
a {
  color: inherit;
}
.gl-button {
  border: none;
  display: inline-block;
  padding: 8px 1.6em;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.gl-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gl-ul li {
  padding: 8px 1.6em;
  border-bottom: 1px solid #ddd;
}
.gl-ul li:last-child {
  border-bottom: none;
}
.gl-display-container {
  position: relative;
}
.gl-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.gl-bar {
  width: 100%;
  overflow: hidden;
}
.gl-nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.gl-center .gl-bar {
  display: inline-block;
  width: auto;
}
.gl-bar .gl-bar-item {
  padding: 8px 1.6em;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.gl-bar .gl-button {
  white-space: normal;
}
.gl-bar-block .gl-bar-item {
  width: 100%;
  display: block;
  padding: 8px 1.6em;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.gl-block {
  display: block;
  width: 100%;
}
.gl-content {
  margin-left: auto;
  margin-right: auto;
}
.gl-content {
  max-width: 980px;
}
.gl-hide {
  display: none !important;
}
@media (max-width: 600px) {
  .gl-hide-small {
    display: none !important;
  }
}
.gl-bottom,
.gl-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.gl-top {
  top: 0;
}
.gl-bottom {
  bottom: 0;
}
.gl-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.gl-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.gl-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.gl-display-container:hover .gl-display-hover {
  display: block;
}
.gl-display-container:hover span.gl-display-hover {
  display: inline-block;
}
.gl-display-hover {
  display: none;
}
.gl-round {
  border-radius: 0.8rem;
}
.gl-container {
  padding: 0.01em 1.6em;
}
.gl-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.gl-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.gl-hover-opacity:hover,
.gl-opacity {
  opacity: 0.6;
}
.gl-hover-opacity-off:hover,
.gl-opacity-off {
  opacity: 1;
}
.gl-opacity-min {
  opacity: 0.75;
}
.gl-hover-grayscale:hover {
  filter: grayscale(100%);
}
.gl-grayscale {
  filter: grayscale(75%);
}
.gl-grayscale-min {
  filter: grayscale(50%);
}
.gl-large {
  font-size: 1.8rem;
}
.gl-xlarge {
  font-size: 2.4rem;
}
.gl-xxlarge {
  font-size: 3.6rem;
}
.gl-jumbo {
  font-size: 6.4rem;
}
@media (max-width: 600px) {
  .gl-jumbo {
    font-size: 3.6rem;
  }
}
.gl-center {
  text-align: center;
}
.gl-border-0 {
  border: 0;
}
.gl-border {
  border: 1px solid #ccc;
}
.gl-section {
  margin-top: 1.6em;
  margin-bottom: 16em;
}
.gl-margin {
  margin: 1.6em;
}
.gl-margin-top {
  margin-top: 1.6em;
}
.gl-margin-bottom {
  margin-bottom: 1.6em;
}
.gl-margin-left {
  margin-left: 1.6em;
}
.gl-margin-right {
  margin-right: 1.6em;
}
.gl-padding-small {
  padding: 4px 8px;
}
.gl-padding {
  padding: 8px 1.6em;
}
.gl-padding-large {
  padding: 12px 24px;
}
.gl-padding-16 {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
.gl-padding-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.gl-padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.gl-padding-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.gl-padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.gl-left {
  float: left;
}
.gl-right {
  float: right;
}
.gl-flex {
  display: flex;
  justify-content: end;
}
.gl-button:hover {
  color: #000;
  background-color: #ccc;
}
.gl-green,
.gl-hover-green:hover {
  color: #fff;
  background-color: #4caf50;
}
.gl-hover-light-green:hover,
.gl-light-green {
  color: #000;
  background-color: #8bc34a;
}
.gl-hover-red:hover,
.gl-red {
  color: #fff;
  background-color: #f44336;
}
.gl-hover-white:hover,
.gl-white {
  color: #000;
  background-color: #fff;
}
.gl-black,
.gl-hover-black:hover {
  color: #fff;
  background-color: #000;
}
.gl-grey,
.gl-hover-grey:hover {
  color: #000;
  background-color: #9e9e9e;
}
.gl-hover-light-grey:hover,
.gl-light-grey {
  color: #000;
  background-color: #f1f1f1;
}
.gl-dark-grey,
.gl-hover-dark-grey:hover {
  color: #fff;
  background-color: #616161;
}
.gl-text-white {
  color: #fff;
}
.gl-grid {
  display: grid;
  gap: 2rem;
}
.gl-grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}
.gl-grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.gl-grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}
.gl-grid-col-span-2 {
  grid-column: span 2;
}
