:root {
  --color-blue: hsl(232, 42%, 34%);
  --color-light-blue: hsl(232, 42%, 97%);
  --color-white: hsl(0, 0%, 90%);
  --color-black: hsl(0, 0%, 20%);
  --color-red: hsl(0, 90%, 58%);
  --color-pink: hsl(321, 71%, 76%);
  --color-dark-pink: hsl(320, 71%, 85%);
}

:is(body, h1, h2, h3, h4, h5, h6) {
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  font-weight: 200;
  margin: 10px 0;
}
body,
html {
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  margin: 0;
}
small {
  font-size: 80%;
}
:is(button, input) {
  font: inherit;
  margin: 0;
  overflow: visible;
}
button {
  text-transform: none;
}
body {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: bolder;
}
a {
  color: inherit;
}

/* Sezione navbar */
.gl-bar {
  width: 100%;
  overflow: hidden;
}
.gl-bar-item {
  padding: 8px 1.6em;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
#navbar {
  flex-wrap: wrap;
}
.gl-flex-item {
  flex-wrap: wrap;
}

/* Sezione hero */

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(images/idea-hero.jpg);
  min-height: 70vh;
}
.gl-page-title {
  position: absolute;
  top: 40%;
  left: 4.8rem;
}
.gl-hero-icon-color {
  color: var(--color-white);
}

/* Sezione servizi */

i.gl-service-icon {
  font-size: 5rem;
  color: var(--color-blue);
}

/* Sezione lavori */

.gl-featured {
  position: relative;
}
.gl-featured-text {
  position: absolute;
  background: var(--color-blue);
  color: var(--color-white);
  font-family: sans-serif;
  margin-top: 1.6rem;
  padding: 0.8rem 1.6rem;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: none;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.gl-featured:hover .gl-featured-text {
  visibility: visible;
  opacity: 0.7;
}
/* Sezione prezzi */

.gl-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gl-price-list li {
  padding: 8px 1.6em;
  border-bottom: 1px solid #ddd;
}
.gl-price-list li:last-child {
  border-bottom: none;
}

/* Sezione contatti */

.gl-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* Grid System */

.gl-grid {
  display: grid;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Utility classes */
.gl-block {
  display: block;
  width: 100%;
}
.gl-content {
  margin-left: auto;
  margin-right: auto;
}
.gl-bottom,
.gl-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.gl-top {
  top: 0;
}
.gl-bottom {
  bottom: 0;
}
.gl-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.gl-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.gl-display-container:hover .gl-display-hover {
  display: block;
}
.gl-display-container:hover span.gl-display-hover {
  display: inline-block;
}
.gl-display-hover {
  display: none;
}
.gl-round {
  border-radius: 0.8rem;
}
.gl-container {
  padding: 12rem 0;
  margin-right: auto;
  margin-left: auto;
}
.gl-container > * {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.gl-button {
  padding: 0.8rem 1.6em;
  vertical-align: middle;
  text-decoration: none;
  /* overflow: hidden;
  color: inherit;
  background-color: inherit; */
  text-align: center;
}
.gl-button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.gl-wide {
  letter-spacing: 4px;
}
.gl-text-center {
  text-align: center;
}
.gl-border {
  border: 1px solid #ccc;
}
.gl-section {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.gl-margin {
  margin: 1.6em;
}
.gl-margin-top {
  margin-top: 1.6em;
}
.gl-margin-bottom {
  margin-bottom: 1.6em;
}
.gl-margin-left {
  margin-left: 1.6em;
}
.gl-margin-right {
  margin-right: 1.6em;
}
.gl-padding-small {
  padding: 4px 8px;
}
.gl-padding {
  padding: 0.8rem 1.6em;
}
.gl-padding-large {
  padding: 1.2rem 2.4rem;
}
.gl-padding-16 {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
.gl-padding-24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.gl-padding-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.gl-padding-48 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}
.gl-padding-64 {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.gl-left {
  float: left;
}
.gl-right {
  float: right;
}
.gl-flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: stretch;
}

.gl-red {
  color: var(--color-white);
  background-color: var(--color-red);
}
.gl-white {
  color: var(--color-black);
  background-color: var(--color-white);
}
.gl-black {
  color: var(--color-white);
  background-color: var(--color-black);
}
.gl-grey {
  color: var(--color-black);
  background-color: var(--color-dark-pink);
}

.gl-light-grey {
  color: var(--color-black);
  background-color: var(--color-light-blue);
}
.gl-dark-blue {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.gl-text-white {
  color: var(--color-white);
}
.gl-card {
  box-shadow: 0 2px 10px 0 hsl(0, 0%, 0%, 0.12);
}
.gl-card-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.gl-work-position,
.gl-recurrence {
  color: var(--color-pink);
}
.gl-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 hsl(0, 0%, 0%, 0.2);
}
.gl-hover-opacity:hover,
.gl-opacity {
  opacity: 0.6;
}
.gl-hover-opacity-off:hover,
.gl-opacity-off {
  opacity: 1;
}
.gl-opacity-min {
  opacity: 0.75;
}
.gl-hover-grayscale:hover {
  filter: grayscale(100%);
}
.gl-grayscale {
  filter: grayscale(75%);
}
.gl-grayscale-min {
  filter: grayscale(50%);
}
.gl-large {
  font-size: 1.8rem;
}
.gl-xlarge {
  font-size: 2.4rem;
}
.gl-xxlarge {
  font-size: 3.6rem;
}
:is(.gl-jumbo, .gl-jumbo:before) {
  font-size: 3.6rem;
}
.gl-jumbo:before {
  color: var(--color-blue);
}
.gl-display-container {
  position: relative;
}

@media (min-width: 571px) {
  .gl-grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 821px) {
  .gl-jumbo {
    font-size: 6.4rem;
  }
  .gl-grid-4-col {
    grid-template-columns: repeat(4, 1fr);
  }
  .gl-grid-3-col {
    grid-template-columns: repeat(3, 1fr);
  }
  .gl-grid-col-span-2 {
    grid-column: span 2;
  }
  .gl-grid-2-col {
    grid-template-columns: repeat(2, 1fr);
  }
}
